<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018. Volodumur Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodumur@hryvinskyi.com>
  ~ @github: <https://github.com/scriptua>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
    <route id="deleteorder" frontName="deleteorder">
      <module name="Script_Deleteorder" before="Magento_Backend"/>
    </route>
  </router>
</config>