<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2018. Volodumur Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodumur@hryvinskyi.com>
  ~ @github: <https://github.com/scriptua>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="deleteorder" sortOrder="150" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delete Orders</label>
            <tab>script</tab>
            <resource>Script_Deleteorder::config_deleteorder</resource>
            <group id="general" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Delete Order In Order View</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="btnheading" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Delete Order Button Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>Text of delete button on order view page</comment>
                </field>
            </group>
        </section>
    </system>
</config>